{% extends 'layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorList.length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      <h1 class="govuk-heading-xl">{{ heading }}</h1>

      {{ govukWarningText({
        text: warningText,
        iconFallbackText: "Warning"
      }) }}

      <form method="POST" action="{{ postUrl }}">
        <input type="hidden" name="crumb" value="{{ crumb }}" />

        {% if hasGrantFields %}
          {{ govukDateInput({
            id: "valid-from",
            namePrefix: "validFrom",
            fieldset: {
              legend: { text: "Valid from", classes: "govuk-fieldset__legend--s" }
            },
            hint: { text: "For example, 27 3 2026" },
            errorMessage: { text: errors.validFrom } if errors and errors.validFrom,
            items: [
              { name: "day", classes: "govuk-input--width-2", value: values.validFrom.day },
              { name: "month", classes: "govuk-input--width-2", value: values.validFrom.month },
              { name: "year", classes: "govuk-input--width-4", value: values.validFrom.year }
            ]
          }) }}

          {{ govukInput({
            id: "registration-number",
            name: "registrationNumber",
            label: { text: "Registration number", classes: "govuk-label--s" },
            classes: "govuk-input--width-20",
            value: values.registrationNumber,
            errorMessage: { text: errors.registrationNumber } if errors and errors.registrationNumber
          }) }}
        {% endif %}

        {{ govukButton({
          text: buttonText,
          classes: buttonClasses
        }) }}
        <p class="govuk-body">
          <a class="govuk-link" href="{{ overviewUrl }}">Cancel</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
